<div class="row">
    <div class="col-sm-8">
        <h2>RSS Feed Settings</h2><br>
        <div class="row">
            <div class="col-sm-12 slideanim">
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <input class="form-control" id="name" name="name" placeholder="RSS feed url" type="text" data-ng-model="feeder">
                    </div>
                    <div class="col-sm-4 form-group">
                        <button class="btn btn-default pull-right" type="submit" ng-click="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in feeders">
                <a href="javascript:void(0)" ng-click="load(item)">{{item}}</a>
            </li>
        </ul>
    </div>
</div>